<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Setup needed</title>
</head>
<style>
body {background-color: #000; font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-weight: 100;}
h1   {color: #FFF; text-align: center;}
h2   {color: #FFF; text-align: center;}
p    {color: #FFF; text-align: center;}
</style>
<body>
  <h2><br><br>Connect your iHomeMirror<br><br></h2>
  <p><br>I made a Wi-Fi for you.<br><br></p>
  <p>Connect your smartphone or laptop with me.<br><br><br></p>
  <p>Wi-Fi name: <b>iHomeMirror setup</b><br><br><br></p>
  <p>On most devices, the setup screen should start automatically.<br><br><br><br></p>
  <img src="frame.png" style="display: block; margin-left: auto; margin-right: auto; width: 300px;">
  <p><br><br>Follow the instructions to complete the setup!<br><br></p>
</body>
</html>
