<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Setup needed</title>
</head>
<style>
body {background-color: #000; font-family: -apple-system,BlinkMacSystemFont,sans-serif;}
h1   {color: #FFF;}
p    {color: #FFF;}
</style>
<body>
  <h1>Connect your iHomeMirror</h1>
  <p>Please connect with your phone or computer to the wireless network iHomeMirror with the password ihomemirror. <br><br> When connected a webpage will display. Please follow the on screen instructions.<br></p>
  <img src="frame.png" style="display: block; margin-left: auto; margin-right: auto; width: 300px;">
</body>
</html>
